<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:site_name" content="">
	<link rel="shortcut icon" href="../favicon.ico">
	<title><%= title %></title>
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/drum-machine.css" />
</head>

    <body>
      <main class="container">
          <a href="/">BACK</a>
          <div class="row">
            <div class="box pad-1" data-code="82">R</div>
            <div class="box pad-2" data-code="84">T</div>
            <div class="box pad-3" data-code="89">Y</div>
            <div class="box pad-4" data-code="85">U</div>
          </div>
          <div class="row">
            <div class="box pad-5" data-code="70">F</div>
            <div class="box pad-6" data-code="71">G</div>
            <div class="box pad-7" data-code="72">H</div>
            <div class="box pad-8" data-code="74">J</div>
          </div>
            <div class="row">
            <div class="box pad-9" data-code="86">V</div>
            <div class="box pad-10" data-code="66">B</div>
            <div class="box pad-11" data-code="78">N</div>
            <div class="box pad-12" data-code="77">M</div>
          </div>
        </main>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

        <script src="js/drum-machine/drum-machine.js"></script>

    </body>

</html>
